version: '3.8'

services:
  onlyoffice:
    image: docserver:arm64
    ports:
      - "8000:80"
      - "8443:443"
    environment:
      DB_TYPE: "postgres"
      DB_HOST: "postgres"
      DB_PORT: "5432"
      DB_NAME: "onlyoffice"
      DB_USER: "onlyoffice"
      DB_PASSWORD: "onlyoffice"
      RABBITMQ_HOST: "rabbitmq"
      RABBITMQ_PORT: "5672"
      RABBITMQ_USER: "guest"
      RABBITMQ_PASSWORD: "guest"
    depends_on:
      - postgres
      - rabbitmq
      - redis

  postgres:
    image: postgres:latest
    # For Postgres 18+ the recommended mountpoint is /var/lib/postgresql
    volumes:
      - postgres_data:/var/lib/postgresql
    environment:
      POSTGRES_DB: "onlyoffice"
      POSTGRES_USER: "onlyoffice"
      POSTGRES_PASSWORD: "onlyoffice"
    healthcheck:
      test: ["CMD-SHELL","pg_isready -U onlyoffice -d onlyoffice"]
      interval: 10s
      timeout: 5s
      retries: 10

  rabbitmq:
    image: rabbitmq:management
    ports:
      - "15672:15672"
      - "5672:5672"
    environment:
      RABBITMQ_DEFAULT_USER: "guest"
      RABBITMQ_DEFAULT_PASS: "guest"

  redis:
    image: redis:latest
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data: