name: Build and Push Docker Images

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-20.04]
        architecture: [amd64, arm64]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build Docker image
        run: |
          if [ "${{ matrix.architecture }}" == "arm64" ]; then
            docker buildx build --platform linux/arm64 -f docker/onlyoffice/Dockerfile.arm64 -t yourusername/onlyoffice:arm64 --push .
          else
            docker buildx build --platform linux/amd64 -f docker/onlyoffice/Dockerfile -t yourusername/onlyoffice:amd64 --push .
          fi

      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}